<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Dashboard</title>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li{% if 'error' in message %} class="error"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<body>
    <h1>Welcome to your dashboard, {{ current_user.name }}{% if current_user.is_admin %} (admin){% endif %}</h1>

    <form action="{{ url_for('dashboard') }}" method="POST">
        <label for="content">Add a new note:</label>
        <textarea name="content" id="content" rows="4" cols="50" required></textarea>
        <br>
        <label for="group_id">Group:</label>
        <select name="group_id">
            <option value="">None</option>
            {% for group in current_user.groups %}
                <option value="{{ group.id }}">{{ group.name }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="member_id">Member:</label>
        <select name="member_id">
            <option value="">None</option>
            {% for member in current_user.members %}
                <option value="{{ member.id }}">{{ member.name }}</option>
            {% endfor %}
        </select>

        <br>
        <input type="submit" value="Add Note">
    </form>

    <h2>Your Notes:</h2>
    {% for note in notes %}
        <div>
            <p>{{ note.content }}</p>
            {% if note.group %}
                <p>Group: {{ note.group.name }}</p>
            {% endif %}
            {% if note.member %}
                <p>Member: {{ note.member.name }}</p>
            {% endif %}
            <small>Created at: {{ note.date_created.strftime('%Y-%m-%d %H:%M:%S')}}</small>
            <a href="{{ url_for('delete_note', note_id=note.id) }}">Delete</a>
        </div>
    {% endfor %}

    <h2>Your Members:</h2>
    <ul>
        {% for member in current_user.members %}
            <li>{{ member.name }}{% if member.is_admin %} (admin){% endif %}</li>
        {% endfor %}
    </ul>

    <h2>Your Groups:</h2>
    <ul>
        {% for group in current_user.groups %}
            <li>{{ group.name }}</li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('members') }}">Manage Members</a>
    <br>
    <a href="{{ url_for('groups') }}">Manage Groups</a>
    <br>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
