body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 40px;
}

form {
    margin-bottom: 2em;
}

textarea {
    display: block;
    width: 100%;
    resize: vertical;
}

.notes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
}

.note {
    border: 1px solid #ccc;
    padding: 1em;
    border-radius: 4px;
    background-color: #f9f9f9;
    margin-bottom: 1rem;
}

.note-details {
    font-size: 1em !important;
}


.note small {
    display: block;
    font-size: 0.8em;
    margin-top: 1em;
}

.note-box::-webkit-scrollbar {
    width: 8px;
}

.note-box::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.note-box::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}